body {
  background: #bdbdbd;
  margin: 0;
}

div {
  box-sizing: border-box;
}

header {
  background: white;
  padding: 10px;
}

header h1 {
  margin: 0;
}

div.post {
  background: white;
  margin-top: 15px;
  margin-bottom: 30px; 
}

div.post img {
  width: 100%;
}

div.post h2,
div.post p {
  padding: 10px;
  margin: 0;
}

.title_date .title {
  display: inline-block;
  width: 80%;
}

.title_date .date {
  width: 20%;
  display: inline-block;
  text-align: right;
  padding: 10px;
  color: grey;
}

div.container {
  width: 600px;
  margin: auto;
}
